.table_box {
    width: 400px;
    max-width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

#table_id {
    min-width: 400px;
}

body {
    display: flex;
    align-items: center;
}